apiVersion: apps/v1
kind: Deployment
metadata:
  name: obs-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: obs-api
  template:
    metadata:
      labels:
        app: obs-api
    spec:
      containers:
        - name: obs-api
          image: obs-api:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10

---
apiVersion: v1
kind: Service
metadata:
  name: obs-api
  labels:
    app: obs-api
spec:
  selector:
    app: obs-api
  ports:
    - name: http
      port: 8000
      targetPort: 8000
