apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: obs-api
  namespace: monitoring
  labels:
    release: monitoring
spec:
  namespaceSelector:
    matchNames:
      - default
  selector:
    matchLabels:
      app: obs-api
  endpoints:
    - targetPort: 8000
      path: /metrics
      interval: 15s
